# Mac
.DS_Store

# Remove jArchi example scripts & ArchiMate models
/jArchi/examples
/ModelExchange

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Pyhton PIP distribution files
pythonPackaging/dist
